<!doctype html>
<html lang="en">
	<head>
		<title>Edit device list</title>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
	</head>
	<body>
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		{{#each devices}}
		<div class="modal fade" id="confirm-delete-{{this.device.id}}" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Really?</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						Are you sure you want to delete {{this.device.device_name}}?
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">No, dismiss</button>
						<button type="button" id="confirm-modal-{{this.device.id}}" class="btn btn-danger">Yes, delete</button>
					</div>
				</div>
			</div>
		</div>
		<script>
$("#confirm-modal-{{this.device.id}}").click(function(){
	$("form[name='delete-{{this.device.id}}']").submit();
});
		</script>
		{{/each}}
		<div class="container-fluid">
			<h1>Edit Devices</h1>
			{{#if success_message}}
			<div class="alert alert-success" id="success_message">
				<strong>Success:</strong> {{success_message}}
			</div>
			{{/if}}
			{{#if error_message}}
			<div class="alert alert-danger" id="error_message">
				<strong>Error:</strong> {{error_message}}
			</div>
			{{/if}}
			<table class="table table-bordered">
				<thead class="thead-dark">
					<tr>
						<th>Device name</th>
						<th>URL</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				{{#each devices}}
				<tr>
					<td>
						<input type="text" name="device_name" class="form-control" value="{{this.device.device_name}}" form="edit-{{this.device.id}}">
					</td>
					<td>
						<input type="text" name="device_url" class="form-control" value="{{this.device.device_url}}" form="edit-{{this.device.id}}">
					</td>
					<td>
						<form id="edit-{{this.device.id}}" name="edit-{{this.device.id}}" action="/editDevices" method="post">
							<input type="hidden" name="id" value="{{this.device.id}}" class="form-control">
							<input type="submit" class="btn btn-primary" name="save" value="SAVE">
						</form>
					</td >
					<td>
						<form id="delete-{{this.device.id}}" name="delete-{{this.device.id}}" action="/deleteDevices" method="post">
							<input type="hidden" name="id" value="{{this.device.id}}" class="form-control">
							<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirm-delete-{{this.device.id}}">
								DELETE
							</button>
						</form>
					</td>
				</tr>
				{{/each}}
				<tr>
					<td>
						<input type="text" name="device_name" class="form-control" value="" form="_internal_new_device">
					</td>
					<td>
						<input type="text" name="device_url" class="form-control" value="" form="_internal_new_device">
					</td>
					<td>
						<form id="_internal_new_device" name="_internal_new_device" action="/addDevices" method="post">
							<input type="submit" class="btn btn-primary" name="add" value="ADD">
						</form>
					</td>
					<td></td>
				</tr>
			</table>
			<a href="/devices">Back to devices...</a>
		</div>
	</body>
</html>
