<head>
	<title>Edit device list</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<h1>Edit Devices</h1>
		{{#if success_message}}
		<div class="alert alert-success">
			<strong>Success:</strong> {{success_message}}
		</div>
		{{/if}}
		{{#if error_message}}
		<div class="alert alert-danger">
			<strong>Error:</strong> {{error_message}}
		</div>
		{{/if}}
		<table class="table table-bordered">
			<thead class="thead-dark">
				<tr>
					<th>Device name</th>
					<th>URL</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			{{#each devices}}
			<tr>
				<form name="{{this.device.device_name}}" action="/editDevices" method="post">
					<input type="hidden" name="id" value="{{this.device.id}}" class="form-control">
					<td><input type="text" name="device_name" class="form-control" value="{{this.device.device_name}}"></td>
					<td><input type="text" name="device_url" class="form-control" value="{{this.device.device_url}}"></td>
					<td><input type="submit" class="btn btn-primary" name="save" value="SAVE"></td>
					<td><input type="submit" class="btn btn-danger" name="delete" value="DELETE"></td>
				</form>
			</tr>
			{{/each}}
			<tr>
				<form name="_internal_new_device" action="/addDevice" method="post">
					<td><input type="text" name="device_name" class="form-control" value=""></td>
					<td><input type="text" name="device_url" class="form-control" value=""></td>
					<td><input type="submit" class="btn btn-primary" name="add" value="ADD"></td>
					<td></td>
				</form>
			</tr>
		</table>
		<a href="/devices">Back to devices...</a>
	</div>
</body>
